# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/
__init.py__

# Salidas de QC / datos (no versionar)
*.csv
*.nii
*.nii.gz
*.mif

# Entornos
.venv/
env/

# Data
data*/
reference*/